<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast hide" style="position: absolute; top: 0; right: 0;">
        <div class="toast-body">
            <img src="~/js/img/success.svg" style="height:20px;width:20px;float:left;" />
            <div id="toast-data" style="float:right"></div>
        </div>
    </div>
</div>